<% include ./partials/header.ejs %>
<div class="search  h-16">
    <input type="text" placeholder="search">
</div>


<div id="mainpage">
    <div class="box"><img   src="https://i.pinimg.com/564x/e6/3e/40/e63e40b44b6d788dad3b7ab3b7a158cb.jpg" alt=""></div>
    <div class="box"><img src="https://i.pinimg.com/564x/34/49/4e/34494e6f99d3636cc8bbb7a1f2bcda52.jpg" alt=""></div>
    <div class="box"><img  src="https://i.pinimg.com/564x/28/96/17/2896172614e950d9d17f29ff321f2213.jpg" alt=""></div>
    <div class="box"><img src="https://i.pinimg.com/564x/1d/76/bf/1d76bfff1dd5026241ffbd4956f6f718.jpg" alt=""></div>
    <div class="box"><img  src="https://i.pinimg.com/736x/52/f8/8c/52f88cd106a96ee6780c398d7df9b2fb.jpg" alt=""></div>
    <div class="box"><img src="https://i.pinimg.com/564x/3b/71/35/3b71355d028f5c91f1670839b8fe86c7.jpg" alt=""></div>
    <div class="box"><img src="https://i.pinimg.com/736x/d2/25/79/d225799d6e9ae094207c71616649c2d4.jpg" alt=""></div>
    <div class="box"><img src="https://i.pinimg.com/736x/6c/f3/f3/6cf3f3cf100dc7b924acec1cf51075c8.jpg" alt=""></div>
    <div class="box"><img src="https://i.pinimg.com/736x/76/09/09/760909639b65a73251b38d8b9a06d2a0.jpg" alt=""></div>
    <div class="box"><img src="https://i.pinimg.com/564x/24/9b/32/249b32c6c57af810432711325bf3b0cf.jpg" alt=""></div>
    <div class="box"><img  src="https://i.pinimg.com/736x/dd/ac/20/ddac20b31f4f3e2075a4fd61b4415b78.jpg" alt=""></div>
    <div class="box"><img src="https://i.pinimg.com/564x/dc/39/97/dc39971f75de18ab4a6c7093652f7b29.jpg" alt=""></div>
    
    
    
    

</div>
   
<% include ./partials/footer.ejs %>